$white: white;
$black: black;
$blue: #025099;
$dark_blue: #113e69;
$yellow: rgb(244, 189, 3);
$dark-yellow: rgba(117, 89, 22, 0.61);
$light-yellow: #FAFAF0;
$background: #EEE9E4;
$grey: rgb(203, 194, 187);